body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #581745;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

nav {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a, nav ul li button {
    text-decoration: none;
    color: #581745;
    font-weight: bold;
    display: block;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

nav ul li a:hover, nav ul li button:hover {
    text-decoration: underline;
}

main {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
}

.placeholder {
    text-align: center;
    font-style: italic;
    color: #666;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input-container h2 {
    text-align: left;
    width: 100%;
}

.input-container label {
    margin-top: 10px;
    width: 100%;
}

.input-container .temperature-pair {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-container input, .input-container select {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

.input-container button {
    margin-top: 20px;
    padding: 15px;
    background-color: #581745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

.input-container button:hover {
    background-color: #6d1a50;
}

#disconnect-btn {
    margin-top: 20px;
    padding: 15px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-size: 1rem;
}

#disconnect-btn:hover {
    background-color: #e53935;
}

hr {
    width: 100%;
    border: 1px solid #ccc;
    margin: 20px 0;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
    }

    nav {
        margin-right: 20px;
        margin-bottom: 0;
    }

    main {
        margin-left: 20px;
        max-width: 800px;
    }
}
